config udpbd 'main'
	option enabled '0'
	option device '/tmp/test.img'
	option port '48829'

# Example configurations:
#
# For USB storage device:
# config udpbd 'usb'
#	option enabled '1'
#	option device '/dev/sda1'
#
# For SD card:
# config udpbd 'sdcard'
#	option enabled '1'
#	option device '/dev/mmcblk0p1'
#
# For custom image file:
# config udpbd 'custom'
#	option enabled '1'
#	option device '/mnt/storage/custom.img'
